{% extends 'Layout.html' %}
{% block content %}
<div class="container-fluid" style="background-color:#272626;padding:30px;text-align:justify;font-size:20px;">
<br/><br/>
<div class="row" style="padding:30px;">
<div class="col">
<img src="../static/Frame.jpg" class="img-fluid" style="border:3px dashed black;height:400px;width:100%;">
</div>
</div>
<div class="row" style="padding:30px;">
<div class="col" style="color:#DBD7D6;">
<p>Engineers play a very important role in every walk of life. They convert knowledge of basic sciences into products. They are versatile minds who build bridges between sciences, technology and society. Engineers contribute to the nation’s technological and industrial progress. They help improve living conditions for the common people. By virtue of our achievements in multiple fields, India stands poised to emerge as a leading nation in the 21st century. The innovation capability of our scientists and engineers will play a critical role in enabling India achieve this goal.</p>
<p>This conclave is happening at a time when the world is beginning to emerge from the global economic crisis. Though India’s economic growth has declined in recent times, I am confident we will be able to bring the deceleration to a halt and revert to the high growth levels that we attained in the past.</p>
<p>I believe the underlying growth impetus remains strong due to continued rise in per capita incomes, expanding middle-class consumers and a young and energetic workforce. Of course, stronger efforts from all stakeholders can build on this trend, and enable us secure faster growth as the global economy revives.</p>
<p style="padding:20px;border-bottom:2px solid #DBD7D6;border-top:2px solid #DBD7D6;text-align:center;">Speech by the President of India, Shri Pranab Mukherjee on the occasion of the First Engineers Conclave-2013</p>
</div>
</div>
<div class="row" style="padding:30px;">
<div class="col-md-4"></div>
<div class="col-md-4" style="text-align:center;">
<h1 style="color:#DBD7D6;border-bottom:4px solid #DBD7D6;border-top:4px solid #DBD7D6;">Developer's Team</h1>
</div>
<div class="col-md-4"></div>
</div>
<div class="row">
<div class="col-md-4" style="padding:40px;">
<div class="card" style="border:5px dashed #272626;">
<img class="card-img-top" src="../static/jasmeet.jpeg" height="350px">
<div class="card-body">
<h2 class="card-title">Jasmeet Kaur</h2>
<p class="card-text">
Enrollment No : 0115CS161037<br/>
Course : Bachelor of Engineering<br/>
Branch : Computer Science Engineering<br/>
Semester : VI<br/>
Session : 2016-20</p>
</div>
</div>
</div>
<div class="col-md-4" style="padding:40px;">
<div class="card" style="border:5px dashed #272626;">
<img class="card-img-top" src="../static/ankit.png" height="350px">
<div class="card-body">
<h2 class="card-title">Ankit Singh</h2>
<p class="card-text">
Enrollment No : 0115CS161017<br/>
Course : Bachelor of Engineering<br/>
Branch : Computer Science Engineering<br/>
Semester : VI<br/>
Session : 2016-20</p>
</div>
</div>
</div>
<div class="col-md-4" style="padding:40px;">
<div class="card" style="border:5px dashed #272626;">
<img class="card-img-top" src="../static/anshul.jpeg" height="350px">
<div class="card-body">
<h2 class="card-title">Anshul Yadav</h2>
<p class="card-text">
Enrollment No : 0115CS161018<br/>
Course : Bachelor of Engineering<br/>
Branch : Computer Science Engineering<br/>
Semester : VI<br/>
Session : 2016-20</p>
</div>
</div>
</div>
<div class="col-md-2">
</div>
<div class="col-md-4" style="padding:40px;">
<div class="card" style="border:5px dashed #272626;">
<img class="card-img-top" src="../static/rajat.jpeg" height="350px">
<div class="card-body">
<h2 class="card-title">Rajat Yadav</h2>
<p class="card-text">
Enrollment No : 0115CS161071<br/>
Course : Bachelor of Engineering<br/>
Branch : Computer Science Engineering<br/>
Semester : VI<br/>
Session : 2016-20</p>
</div>
</div>
</div>
<div class="col-md-4" style="padding:40px;">
<div class="card" style="border:5px dashed #272626;">
<img class="card-img-top" src="../static/rahul.jpeg" height="350px">
<div class="card-body">
<h2 class="card-title">Rahul Dubey</h2>
<p class="card-text">
Enrollment No : 0115CS161068<br/>
Course : Bachelor of Engineering<br/>
Branch : Computer Science Engineering<br/>
Semester : VI<br/>
Session : 2016-20</p>
</div>
</div>
</div>
</div>
</div>
{% endblock  %}