{% extends 'Layout.html' %}

{% block content %}
<div class="container-fluid" style="background-color:#272626;color:#DBD7D6;padding:30px;text-align:justify;font-size:20px;">
<br/><hr/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-3">
<img src="../static/Syllabus.jpg" class="img-fluid" style="border:3px dashed black;">
</div>
<div class="col-md-1"></div>
<div class="col-md-6">
Believe it or not, the syllabus for each class you take at the University is your passport for success.  It is a contract of sorts and is filled with valuable information.  By staying enrolled in a class, you are indicating that you have read the syllabus, understand what you need to do to be successful in that class, and accept the terms of this agreement.  But like reading any other document, it helps to have guidelines to understand the information you find in a syllabus.
</div>
<div class="col-md-1"></div>
</div>
<br/><hr/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-6">
A scheme of work is a guideline that defines the structure and content of an academic course. It maps out clearly how resources (e.g. books, equipment, time) and class activities (e.g. teacher-talk, groupwork, practicals, discussions) and assessment strategies (e.g. tests, quizzes, Q&A, homework) will be used to ensure that the learning aims and objectives of the course are met successfully. It will normally include times and dates. The scheme of work is usually an interpretation of a specification or syllabus and can be used as a guide throughout the course to monitor progress against the original plan. Schemes of work can be shared with students so that they have an overview of their course.
</div>
<div class="col-md-1"></div>
<div class="col-md-3">
<img src="../static/Scheme.png" class="img-fluid" style="border:3px dashed black;">
</div>
<div class="col-md-1"></div>
</div>
<br/><hr/><br/>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-3">
<img src="../static/Notes.jpg" class="img-fluid" style="border:3px dashed black;">
</div>
<div class="col-md-1"></div>
<div class="col-md-6">
It is a brief record of writing something to assist the memory or for future important references. Notes are usually being taken to record the speeches or dictations after listening to it or after reading any materials like a book, magazine or an article. It is initiated to refer whenever needed and may be reproduced in the desired manner. This is article is on note making examples.The process of grasping knowledge is vast and unlimited. Our memory is not able to store so many information altogether, hence notes making is quite handy and helpful. With the assistance of note making, we may recall the entire information of past events. For the students, it makes their preparation less strenuous.
</div>
<div class="col-md-1"></div>
</div>
<br/><hr/><br/>
</div>
{% endblock  %}